.unread-1xRYoj { display: none; }

.item-2J1YMK {
    text-align:left;
    padding-left:5px;
    justify-content:flex-start;
}

.buttonWrapper-Bm5QAU {
    display:none;
}

.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb {
    background:transparent;
}

/* Gift & Gif */
.buttons-uaqb-5 > button {
    display:none;
}

.buttons-uaqb-5 > div:first-of-type {
    display:none;
}

.buttons-uaqb-5 > div:nth-of-type(2) {
    display:none;
}

/*
.nameUnreadText-DfkrI4 {
    color:#9ED72D;
}*/

.embedWrapper-1MtIDg {
    max-width:750px;
}

/* make emojis in embeds huge */
.embedWrapper-1MtIDg .emoji {
    width:30px!important;
    height:30px!important;
}

/* hide shitty useless ui shit in friends list */
.channel-1Shao0.container-1oeRFJ.clickable-28SzVr[href="/store"]
{
    display: none;
}

/* hide shitty useless reaction default emojis */
.emojiButton-jE9tXC {
    display: none;
}
.container-3npvBV:hover .emojiButton-jE9tXC {
    display: block;
}
.container-3npvBV .wrapper-2aW0bm.da-wrapper {
    background-color:rgba(54, 57, 63, .3);
}
.container-3npvBV:hover .wrapper-2aW0bm.da-wrapper {
    opacity:1;
    background-color:rgb(54, 57, 63);
}
/* reposition context menu so it's not stupidly above the message */
.buttons-3dF5Kd { position:unset; }

/* fix spacing between messages */
.group-spacing-0 .groupStart-23k01U {
    margin-top:.3rem!important;
}

.compact-2Nkcau.wrapper-30-Nkg,
.cozy-VmLDNB.wrapper-30-Nkg {
    padding-top:0!important;
    padding-bottom:0!important;
}

/* fix spacing around day change */
.hasContent-1_DUdQ {
    margin-top:1rem;
    margin-bottom:.3rem!important;
}

/* increase width on code embeds */

.markup-2BOw-j pre {
 max-width:100%!important;
}

/* useless role manage */
.settingCard-3w2mVL {
    display:none;
}

.headerText-3Uvj1Y {
    user-select: none;
}
.separator-2nZzUB,
.username-1A8OIy,
.separator-2nZzUB + * {
    user-select: text;
}

/* options buttons opacity except on hover */
.message-2CShn3:hover .buttons-3dF5Kd {
    opacity:.5!important;
}

.message-2CShn3 .buttons-3dF5Kd:hover {
    opacity:1!important;
}

/* code embeds */
code.scrollbarGhostHairline-1mSOM1 {
    line-height:1;
}


/* Bye Banners */
.animatedContainer-1NSq4T, .content-3YMskv [style="height: 84px;"], .bannerImage-3KhIJ6{
    display: none;
}
.hasBanner-2SrLR3 .header-2V-4Sw, .hasBanner-2SrLR3 .header-2V-4Sw:hover{
    color: var(--header-primary);
    box-shadow: var(--elevation-low)
}
.iconTierOne-s_oiRb, .iconTierTwo-1JOWNK {
    color: var(--text-muted);
}


/* Bye Stage Discovery */
#private-channels [href="/discovery"] {display: none}


#bd-pub-li {
    display:none;
}

/* fandom logo */
.listItem-GuPuDH:nth-of-type(2) .wrapper-1BJsBx img {
    filter:hue-rotate(180deg);
}

.listItem-GuPuDH:nth-of-type(2) .wrapper-1BJsBx {
    border-radius: 50%;
    overflow:hidden;
}


/* fix channel # being broken */
span.wrapper-3WhCwL.iconMention-1_KJ_B.iconMentionText-8GCluA.mention.interactive::before {
    content:'';
    display:inline-block;
    position:relative;
    bottom:1px;
    height:0px;
    width:1em;
}


/* no boosts */
.container-1eD8xH,
.container-3qpZp9 {
    display: none;
}

li#chat-messages-930577565540818954 {
    margin-top: 0;
}
