.finalawokenevolve .absolute .onload,
.finalevolve .absolute .onload,
.require .absolute .onload {
  background-image:none!important;
    box-sizing:border-box;
    padding-top:98px;
    height:98px;
}

.finalawokenevolve .absolute .onload,
.finalevolve .absolute .onload,
.require .relative {
    overflow:hidden;
}

.finalawokenevolve .absolute,
.finalevolve .absolute {
    height:100%;
    overflow:hidden;
}

.dmgAttack,
#right,
#main,
body {
    background-image:none;
    background:#2A2A2E;
}

/* hide discord server notice */
.notice-box {
    display:none;
}

div[style="width: 800px;"] {
    display:none!important;
}

/* ads */
#leaderboard, #leaderboard1, #leaderboard2, #leaderboard3, #mrectangle, #mrectangle2, #mrectangle3, #skyscraper1, #skyscraper2 {
    display:none;
}

/* end ads */

#comparebars, #expControls {
    display:none;
}

#monsterlogo {
    display:none;
}

#location {
    top:140px;
}

#searchterm {
    height:40px;
    top:55px;
    z-index:999;
    margin-left:0;
    width:inherit;
    word-wrap:normal;
    white-space:normal;
}

#history {
    display:none;
}

#content {
    margin-top:180px;
}

#menutab {
    top:85px;
}

#link {
    top:95px;
    margin-left:0;
}

#frame {
    top:70px;
    display:none;
}

#monster {
    margin-left:0;
    top:75px;
    right:420px;
}

/* these have some ungodly combination of margin-left & position:left atm and I don't even want to think about it good god */
#monstertype,#monsterelement1, #monsterelement2 {
    left:460px;
    top:85px;
}

#topbar {
    display:none;
}

#report, #facebook {
    display:none;
}

#dragon, #claw, #wing {
    display:none;
}


#searchweb {
    position:absolute;
    top:0;
    right:355px;
}

#header {
    position:absolute;
    left:-50px;
}

.update {
    margin-left:0!important;
    float:left;
    width:auto!important;
}

#top {visibility:hidden;}

.stars {
    max-width:unset;
}

.stars img:nth-of-type(5n+1) {
    margin-left:10px;
}

.stars img:first-of-type {
    margin-left:0;
}

.titlebar1 {
    background-image:none;
    min-width:unset!important;
    padding-right:0;
    padding-left:0;
}

.column,
.titlebar1 .element,
.titlebar1 .elementborder,
.titlebar1 .top {
    display:none;
}

.titlebar1 h2 {
    width:100%;
    font-size:20px;
}

#tablestat {
    width: 100%;
}

/* some link on the front page */
.titlebar1 .setting {
    display:none;
}

#c,
#c + #tablestat {
    display:none;
}

#growth,
#growth + table {
    display:none;
}

/* this is a random little rectangle below the gravity calculator */
span.bossHp + div {
    visibility:hidden;
}

/* this file doesn't exist */
img[src="img/element/70.png"] {
    display:none;
}

#tablestat .skillseparator {
    border-bottom-color:#E1E1E1;
}

#tablecustom td {
    border-color: #E1E1E1;
}
