.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted)::before {
  color:#61AF28!important;
}

.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted) span {
  color:#61AF28!important;
  font-weight:bold!important;
}

.c-pillow_file__header, .p-file_list__header, .p-file_list__filters {
    background-color:#222222;    
}

.c-pillow_file__title { color:white;}

.ql-editor {
    background-color:#1F1F1F;
}

.p-flexpane_header {
    background-color:#1F1F1F;
}

.p-download_item__link--show {
    background-color:#1F1F1F;
}

.p-downloads_list__shift_hint {
    background: #1F1F1F;
}
