:root {
    --link-color:#0284C7;
}

.form-group.source-language-group {
    display:flex;
    flex-direction:column;
}

.form-group.source-language-group > .pull-right > span {
    font-family:monospace;
    background-color:#282B2C;
}

.object-link a,
.form-group.source-language-group a {
    color:var(--link-color);
    text-decoration:underline;
}

.form-group.source-language-group a + div.list-group .list-group-item {
    background-color:#262626;
    color:#737373;
}

.zen-unit {
    outline:1px solid #6a8799;
}

.zen-unit .form-group a {
    text-decoration:underline;
    color:var(--link-color);
}

a .list-group-item-text {
    font-family:monospace;
    border:1px dotted;
    border-radius:3px;
    width:fit-content;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color:#282B2C;
}

a .list-group-item-text span.hlcheck:hover {
    font-weight:bold;
}

.progress-row.autocolspan {
    display:none;
}

.btn.btn-info[href="#new"] {
    background-color:rgb(41,179,150);
    color:#1A1D1E;
    border:solid 1px #1A1D1E;
}

a.btn.btn-link[title="View details"]::after {
    content:"View change";
    margin-left:2px;
    color:var(--link-color);
}

a.btn.btn-link[title="View details"] svg path {
    fill:var(--link-color);
}

.editor-wrap:has(.highlighted-output.readonly)::after {
    content:"This string is read-only!";
    color:red;
}

.editor-wrap:has(.highlighted-output.readonly) {
    pointer-events:none;
    cursor:pointer;
}

.panel-body:has(.highlighted-output.readonly) + .panel-footer .text-danger {
    display:none;
}

.state-icon.red::after {
    content:"View problems";
    margin-left:4px;
    text-decoration:unset;
    color:#FF7559;
}

.breadcrumb li:nth-of-type(3) {
    font-size:25px;
}
